.nav {
  font-size: 30px; 
}

.nav a {
  padding: 40px;
  font-size: 40px;
  text-decoration: none;
  color: #565656;
  border-radius: 30px;   
}

.head{
  background-color: #F5F4F4;
}

h1 {
  font-size: 90px;
}

p {
  padding-top: 20px;
  font-size: 40px;
  margin-left: 100px;
  margin-right: 100px;
}


 .footer {
padding-top: 75px;
  font-size: 40px;
  color: #ba2323;

}