
.nav a {
  padding: 40px;
  font-size: 40px;
  text-decoration: none;
  color: #565656;
  border-radius: 30px;   
}

.head{
  background-color: #F5F4F4;
}

h1{
  font-size: 90px;
}

h2{
  font-size: 50px;
  padding-top: 50px;
}

ul a{
  font-size: 60px;
  padding-left: 400px;
  padding-top: 275px;
  padding-right: 300px;
  padding-bottom: 200px;
}

.windows{
  padding-left: 175px;
  width: auto;
  height: auto;
}

.house1{
  padding-left: 100px;
  width: auto;
  height: auto;
}

.door2{
  padding-top: 50px;
  padding-left: 700px;
  height: 700px;
  width: 500px;
  
  
}


 .footer {
padding-top: 75px;
  font-size: 40px;
  color: #ba2323;
  

}